/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.calcite .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.calcite .dijitInlineEditBoxDisplayModeHover {
  background-color: #008ce6;
  border: solid 1px #0a1a23;
}
.dj_ie6 .calcite .dijitInlineEditBoxDisplayMode {
  border: none;
}
