////////////////////////////////////////
// Variables

$Calcite_Highlight_Blue_350 : #007ac2;

$Calcite_Gray_700 : #333333;
$Calcite_Gray_650 : #4c4c4c;
$Calcite_Gray_600 : #595959;
$Calcite_Gray_550 : #6e6e6e;
$Calcite_Gray_500 : #828282;
$Calcite_Gray_450 : #959595;
$Calcite_Gray_400 : #a9a9a9;
$Calcite_Gray_350 : #cccccc;
$Calcite_Gray_300 : #e0e0e0;
$Calcite_Gray_250 : #e7e7e7;
$Calcite_Gray_200 : #efefef;
$Calcite_Gray_150 : #f4f4f4;
$Calcite_Gray_100 : #f8f8f8;

$Calcite_Vibrant_Red_200: #de2900;
$Calcite_Orange_a100: #ff9f33;
$Calcite_Highlight_Green_350: #2d822c;

$panelBGColor : #fff;


$brandFont : 'Avenir Next W01', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$standardFont : 'Helvetica Neue', Helvetica, Arial, sans-serif;

$fontWeightTitle : 500;
$fontWeightHeader : 600;
$fontWeightNormal : 400;

$titleFontSize : 14px;

$h1FontSize : 18px;
$h2FontSize : 14px;
$bodyFontSize : 12px;
$tableFontSize : 14px;
$captionFontSize : 10px;

$mobileBreakpoint : "screen and (max-width:750px)";

$metaHeightAndCenter : 40px;

// Variables
////////////////////////////////////////


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($arguments) {
	-webkit-box-shadow: $arguments;
	box-shadow: $arguments;
}


.social-content {
	margin-bottom:20px;
	width:100%;
	padding:30px 40px;
	background:$Calcite_Gray_200;
}

#feed {
	margin-bottom: 40px;
	h1, h2, h3 {
		//margin-left:-12px;
	}
}


.feed-day {
	margin:0 0 40px 10%;
	width:80%;
	

	h2, h3, h4 {
		margin-bottom: 0.5em;
		//margin-left: -12px;
		// background: $panelBGColor;
		// padding: 5px;
	}
}


.feed-event {
	margin: 0 0 0px 24px;
	padding: 0 0 30px 0;
	// margin: 0 0 15px 20%;
	// width: 60%;
	border-left: solid 1px $Calcite_Gray_400;
	
	.event-meta {
		position: relative;
		// height:$metaHeightAndCenter;
		// line-height: $metaHeightAndCenter;
		font-size: 14px;
		background: $panelBGColor;
		margin: 0 0 10px -16px;
		// float: left;
	}

	.event-time {
		// height: 45px;
		// line-height: 45px;
		margin:0 0 0 0;
		font-size: 14px;
		line-height:1em;
		text-align:left;
		color: $Calcite_Gray_400;
		// float: right;
	}

	.event-icon {
		font-size: 30px;

		color: $Calcite_Gray_600;
		background: $panelBGColor;
		padding: 0;
		margin: 0 5px 0 0;
		font-size: 28px;
		display: block;
		float: left;
		
		height: $metaHeightAndCenter;
		line-height: $metaHeightAndCenter;
	}

	.event-item {
		font-size: 20px;
		margin:0 0 0 0;
		height: $metaHeightAndCenter;
		line-height: $metaHeightAndCenter;
		font-weight: $fontWeightTitle;
		display:block;
		float: left;
	}

	.item-thumb {
		width: $metaHeightAndCenter;
		height: $metaHeightAndCenter;
		overflow: hidden;
		float:left;
		margin: 0 10px 0 0;
		border:solid 1px $Calcite_Gray_250;
		position: relative;
		
		img {
			height: $metaHeightAndCenter;
			width:auto;
			// position: absolute;
			margin:auto;
			// left: -25%;
		}
	}

	.event-action {
		margin:0 0.2em 0 0;
	}

	.event-actor {
		// display: inline;
		margin: 0 0 5px 0;
		
		img.event-actor-avatar {
			width:30px;
			height:30px;
			margin:0 2px 0 0;
			border:solid 1px $Calcite_Gray_250;
			// background:#a9a9a9;
			//@include border-radius(50%);
			
			&:hover {
				cursor: pointer;
			}
		}
	}

	.event-info {
		clear: both;
		padding: 0 0;
		// width:94%;
		margin:0 0 0 40px;
		background: $panelBGColor;
		font-size: 14px;
		line-height: 1.5em;
		//border-top:solid 1px $Calcite_Gray_200;
		//@include box-shadow(unquote('0px 0px 4px rgba(0,0,0, 0.25)'));
		
		// [class^="esri-icon-"] {
		// 	color: $Calcite_Highlight_Blue_350;
		// }

	}

	.event-description {
		clear:both;
		padding:0 0 5px;
		span {
			font-weight: $fontWeightHeader;
		}

		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding:0;
				line-height:1.5em;
				font-size: 14px;
			}
		}

		.hidden-actions {
			max-height:0px;
			overflow:hidden;
			
			-webkit-transition: max-height 500ms;
			-moz-transition: max-height 500ms;
			-ms-transition: max-height 500ms;
			-o-transition: max-height 500ms;
			transition: max-height 500ms;
		}
		.hidden-actions.reveal {
			max-height: 1000px;
		}
	}
	.reveal-hidden-actions {
		text-decoration: none;
		span {
			font-weight: $fontWeightNormal;
			font-size: 14px;
		}
		.show-actions {
			display:inline;
		}

		.hide-actions {
			display:none;
		}
		&:hover {
			text-decoration: none;
			color: $Calcite_Gray_700;
		}
	}
	.reveal-hidden-actions.showing {
			
			.show-actions {
				display:none;
			}

			.hide-actions {
				display:inline;
			}
	}
	.event-expiration {
		padding: 0px 5px 0px 15px;
		margin:7px 0;
		border-left: solid 2px $Calcite_Vibrant_Red_200;
		.event-expiration-title {
			color: $Calcite_Vibrant_Red_200;
		}
		.event-count {
			font-size: 1.2em;
			font-weight: $fontWeightHeader;
		/* 
			display: inline-block;
			background: $Calcite_Orange_a100;
			width:24px;
			height:24px;
			text-align:center;
			line-height:25px;
			border-radius:50%;
			color:#000; */
		}
	}
	/* [class^="esri-icon-"] {
		color: $Calcite_Gray_600;
		background: $panelBGColor;
		padding: 5px 5px 5px 0;
		font-size: 28px; 
	} */
	.esri-icon-delete,
	.esri-icon-time-clock,
	.esri-icon-notice-round {
		color: $Calcite_Vibrant_Red_200;
	}
	.esri-icon-add {
		color: $Calcite_Highlight_Green_350;
	}
}

.social-footer {
	// margin-top: 40px;
	
	ul.list-bulleted li {
		list-style-type: disc;
	}

	.esri-logo {
		background-image: url("../images/logo/esri-logo.svg") 
	}
}

@media #{$mobileBreakpoint} {
	.feed-day {
		width: 90%;
		margin: 0 5%;
		
		h4 {
			margin-left:-12px;
		}
	}

	.feed-event {
		margin-left: 0;
		.event-meta {
			height: auto;
			line-height: inherit;
			// margin-left: -12px;
		}
		.event-item {
			height: auto;
			line-height: 1.3em;
			clear:left;
			padding-bottom: 10px;
			font-size: 18px;
			// display:block;
			
		}
		.item-thumb {
			display:none;
		}

		.event-action {
			display:none;
		}
	}
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}