ul li {
  list-style: none; }

a:hover {
  cursor: pointer; }

.social-content {
  margin-bottom: 20px;
  width: 100%;
  padding: 30px 40px;
  background-color: #efefef; }

#feed {
  margin-bottom: 40px; }

.feed-day {
  margin: 0 0 0px 10%;
  width: 80%; }
  .feed-day h2, .feed-day h3, .feed-day h4 {
    margin-bottom: 0.2em; }

.feed-event {
  margin: 0 0 0px 24px;
  padding: 10px;
  position: relative;
  border-left: solid 3px #e0e0e0;
  -webkit-transition: background 125ms ease-in-out;
  -moz-transition: background 125ms ease-in-out;
  -ms-transition: background 125ms ease-in-out;
  -o-transition: background 125ms ease-in-out;
  transition: background 125ms ease-in-out; }
  .feed-event:hover {
    background-color: #f8f8f8;
    border-top-color: #a9a9a9 !important; }
  .feed-event.hovered .event-icon-wrap {
    border-color: #a9a9a9 !important; }
  .feed-event .event-meta {
    position: relative;
    margin: 0.5em 0 10px 0; }
  .feed-event .event-time {
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 1em;
    text-align: left;
    color: #a9a9a9; }
  .feed-event .event-icon-wrap {
    background-color: #828282;
    height: 30px;
    width: 30px;
    position: absolute;
    border: solid 3px #e0e0e0;
    border-radius: 50%;
    margin: 0 10px 0 -26px;
    top: 22px; }
    .feed-event .event-icon-wrap.notification {
      background-color: #de2900; }
    .feed-event .event-icon-wrap.add {
      background-color: #2d822c; }
  .feed-event .event-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 20px;
    color: #fff;
    padding: 0; }
  .feed-event .event-item {
    font-size: 20px;
    margin: 0 0 0 0;
    line-height: 1.1em;
    font-weight: 500; }
  .feed-event .event-content-wrap {
    padding-left: 30px; }
  .feed-event .event-following {
    margin: 0 0 0 0;
    color: #a9a9a9;
    font-size: 12px;
    line-height: 1.2em; }
    .feed-event .event-following:hover {
      cursor: pointer; }
    .feed-event .event-following.hovered .following {
      display: none; }
    .feed-event .event-following.hovered .unfollow {
      display: inline; }
    .feed-event .event-following.unfollowed .following,
    .feed-event .event-following.unfollowed .unfollow {
      display: none; }
    .feed-event .event-following.unfollowed .unfollow-undo {
      display: inline; }
    .feed-event .event-following .unfollow,
    .feed-event .event-following .unfollow-undo {
      display: none; }
      .feed-event .event-following .unfollow:hover,
      .feed-event .event-following .unfollow-undo:hover {
        color: #007ac2; }
  .feed-event .item-thumb {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 5px 0;
    border: solid 1px #e7e7e7; }
    .feed-event .item-thumb img {
      height: 40px;
      width: auto;
      margin: auto; }
  .feed-event .event-action {
    margin: 0 0.2em 0 0; }
  .feed-event .event-actor {
    margin: 0 0 5px 0; }
    .feed-event .event-actor img.event-actor-avatar {
      width: 30px;
      height: 30px;
      margin: 0 2px 0 0;
      border: solid 1px #e7e7e7; }
      .feed-event .event-actor img.event-actor-avatar:hover {
        cursor: pointer; }
  .feed-event .event-info {
    clear: both;
    padding: 0 0;
    width: 85%;
    margin: 0 0 0 10px;
    background: none;
    font-size: 14px;
    line-height: 1.5em; }
  .feed-event .event-description {
    clear: both;
    padding: 0 0 5px;
    margin: 0 0 0 10px; }
    .feed-event .event-description span {
      font-weight: 600; }
    .feed-event .event-description ul {
      margin: 0;
      padding: 0; }
      .feed-event .event-description ul li {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-size: 14px; }
    .feed-event .event-description .hidden-actions {
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: max-height 500ms;
      -moz-transition: max-height 500ms;
      -ms-transition: max-height 500ms;
      -o-transition: max-height 500ms;
      transition: max-height 500ms; }
    .feed-event .event-description .hidden-actions.reveal {
      max-height: 1000px; }
    .feed-event .event-description .action-object {
      width: 30px;
      margin: 0 5px 0 0; }
      .feed-event .event-description .action-object:hover {
        cursor: pointer; }
  .feed-event .reveal-hidden-actions {
    text-decoration: none; }
    .feed-event .reveal-hidden-actions span {
      font-weight: 400;
      font-size: 14px; }
    .feed-event .reveal-hidden-actions .show-actions {
      display: inline; }
    .feed-event .reveal-hidden-actions .hide-actions {
      display: none; }
    .feed-event .reveal-hidden-actions:hover {
      text-decoration: none;
      color: #333333; }
  .feed-event .reveal-hidden-actions.showing .show-actions {
    display: none; }
  .feed-event .reveal-hidden-actions.showing .hide-actions {
    display: inline; }
  .feed-event .event-expiration {
    padding: 0px 5px 0px 15px;
    margin: 0.5rem 0 1rem;
    border-left: solid 2px #de2900; }
    .feed-event .event-expiration .event-expiration-title {
      color: #de2900; }
    .feed-event .event-expiration .event-count {
      font-size: 1.2em;
      font-weight: 600; }

.social-footer ul.list-bulleted li {
  list-style-type: disc; }

.social-footer .esri-logo {
  background-image: url("../images/logo/esri-logo.svg"); }

@media screen and (min-width: 990px) {
  .feed-day {
    width: 80%;
    margin: 0 10% 0px; }
    .feed-day h4 {
      font-size: 30px;
      font-weight: 400;
      width: 50%;
      margin-left: 3px;
      border-right: solid 3px #e0e0e0;
      padding-top: 80px; }
      .feed-day h4.today {
        border: none;
        padding-top: 0; }
    .feed-day .feed-event {
      position: relative;
      margin: -120px 0 0 0;
      padding: 10px 0;
      width: 50%;
      min-height: 250px;
      border: none;
      border-top: solid 3px #e0e0e0;
      /* &.hovered {
				.dont-show {
					opacity: 1; 
				}
			} */ }
      .feed-day .feed-event .event-item {
        height: auto; }
      .feed-day .feed-event .item-thumb {
        width: 200px;
        height: 133px; }
        .feed-day .feed-event .item-thumb img {
          height: 133px; }
      .feed-day .feed-event .item-title {
        padding-right: 30px; }
      .feed-day .feed-event .event-meta {
        padding-top: 0;
        margin-top: 0; }
      .feed-day .feed-event.first-event {
        margin-top: 0; }
      .feed-day .feed-event .event-icon-wrap {
        width: 29px;
        height: 29px;
        margin-left: 0;
        position: absolute;
        top: -16px; }
        .feed-day .feed-event .event-icon-wrap .event-icon {
          font-size: 24px;
          top: 10px;
          left: 10px; }
      .feed-day .feed-event .event-following {
        position: absolute;
        top: 0px; }
        .feed-day .feed-event .event-following.dont-show {
          color: #a9a9a9;
          -webkit-transition: opacity 250ms;
          -moz-transition: opacity 250ms;
          -ms-transition: opacity 250ms;
          -o-transition: opacity 250ms;
          transition: opacity 250ms; }
      .feed-day .feed-event.odd-event {
        margin-left: 50%;
        border-left: solid 3px #e0e0e0; }
        .feed-day .feed-event.odd-event:hover {
          border-left-color: #a9a9a9 !important; }
        .feed-day .feed-event.odd-event .event-icon-wrap {
          left: -16px; }
        .feed-day .feed-event.odd-event .event-content-wrap {
          padding-left: 15%; }
        .feed-day .feed-event.odd-event .event-following {
          right: 10px; }
      .feed-day .feed-event.even-event {
        margin-left: 3px;
        border-right: solid 3px #e0e0e0; }
        .feed-day .feed-event.even-event:hover {
          border-right-color: #a9a9a9 !important; }
        .feed-day .feed-event.even-event .event-icon-wrap {
          right: -26px; }
        .feed-day .feed-event.even-event .event-content-wrap {
          padding-left: 2%; }
        .feed-day .feed-event.even-event .event-following {
          right: 30px; } }

@media screen and (max-width: 480px) {
  .feed-day {
    width: 90%;
    margin: 0 5%; }
  .feed-event {
    margin-left: 0; }
    .feed-event .event-item {
      font-size: 18px; }
    .feed-event .item-thumb {
      display: none; }
    .feed-event .event-following {
      position: relative; }
    .feed-event .event-action {
      display: none; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }
