<div class="${css.root}" role="presentation">
  <!-- Popup Container -->
  <div data-dojo-attach-point="_containerNode" class="${css.container} ${css.top}">
    <div class="${css.shadow}">
      <div class="${css.main} ${css.background}">
        <!-- Popup Header -->
        <div class="${css.header} ${css.clearfix}">
          <h1 data-dojo-attach-point="_titleNode" class="${css.title}"></h1>
          <div class="${css.headerButtons}">
            <div role="button" tabindex="0" data-dojo-attach-point="_dockNode" class="${css.btn} ${css.dockBtn}">
              <span aria-hidden="true" data-dojo-attach-point="_dockIconNode" class="${css.icon} ${css.dockIcon} ${css.dockIconRight}"></span>
              <span class="${css.iconText} ${css.dockIconText}">${_i18n.dock}</span>
              <span aria-hidden="true" class="${css.icon} ${css.undockIcon}"></span>
              <span class="${css.iconText} ${css.undockIconText}">${_i18n.undock}</span>
            </div>
            <div role="button" tabindex="0" data-dojo-attach-point="_closeNode" class="${css.btn} ${css.close}" title="${_i18n.close}">
              <span aria-hidden="true" class="${css.icon} ${css.closeIcon}"></span>
              <span class="${css.iconText}">${_i18n.close}</span>
            </div>
          </div>
        </div>
        <!-- /Popup Header -->
        <!-- Popup Content -->
        <div class="${css.body}">
          <div class="${css.bodyContent}" data-dojo-attach-point="_bodyContentNode"></div>
        </div>
        <!-- /Popup Content -->
        <!-- Popup Footer -->
        <div class="${css.footer} ${css.clearfix}">
          <!-- Popup Actions -->
          <div data-dojo-attach-point="_actionsNode" class="${css.actions}"></div>
          <!-- /Popup Actions -->
          <!-- Popup Pagination -->
          <div class="${css.pagination}">
            <div role="presentation" class="${css.loadingContainer}" title="${_i18n.loading}">
              <span aria-hidden="true" class="${css.icon} ${css.loadingIcon}"></span>
              <span class="${css.iconText}">${_i18n.loading}</span>
            </div>
            <div role="button" tabindex="0" data-dojo-attach-point="_previousNode" class="${css.btn} ${css.previous}" title="${_i18n.previous}">
              <span aria-hidden="true" class="${css.icon} ${css.previousIconLTR}"></span>
              <span aria-hidden="true" class="${css.icon} ${css.previousIconRTL}"></span>
              <span class="${css.iconText}">${_i18n.previous}</span>
            </div>
            <div data-dojo-attach-point="_pageTextNode" class="${css.pageText}"></div>
            <div role="button" tabindex="0" data-dojo-attach-point="_nextNode" class="${css.btn} ${css.next}" title="${_i18n.next}">
              <span aria-hidden="true" class="${css.icon} ${css.nextIconLTR}"></span>
              <span aria-hidden="true" class="${css.icon} ${css.nextIconRTL}"></span>
              <span class="${css.iconText}">${_i18n.next}</span>
            </div>
            <div role="button" tabindex="0" data-dojo-attach-point="_pageMenuNode" class="${css.btn} ${css.pageMenuBtn}" title="${_i18n.menu}">
              <span aria-hidden="true" class="${css.icon} ${css.pageMenuIcon}"></span>
              <span class="${css.iconText}">${_i18n.menu}</span>
            </div>
          </div>
          <!-- /Popup Pagination -->
        </div>
        <!-- /Popup Footer -->
      </div>
      <!-- Popup Pointer -->
      <div data-dojo-attach-point="_pointerNode" class="${css.pointer} ${css.background} ${css.shadow}">&nbsp;</div>
      <!-- /Popup Pointer -->
    </div>
    <!-- Popup Menu -->
    <div class="${css.pageMenu}">
      <div class="${css.pageMenuHeader} ${css.clearfix}">
        <p data-dojo-attach-point="_pageMenuInfoNode" class="${css.pageMenuInfo}"></p>
        <div role="button" tabindex="0" class="${css.pageMenuActions}" title="${_i18n.close}" data-dojo-attach-point="_pageMenuCloseNode">
          <span aria-hidden="true" class="${css.icon} ${css.collapseIcon}"></span>
          <span class="${css.iconText}">${_i18n.close}</span>
        </div>
      </div>
      <div class="${css.pageMenuViewport}">
        <table role="menu">
          <tbody data-dojo-attach-point="_pageMenuItemsNode"></tbody>
        </table>
      </div>
      <div class="${css.pageMenuPointer}"></div>
    </div>
    <!-- /Popup Menu -->
  </div>
  <!-- /Popup Container -->
</div>