
  .fake-header,
  footer {
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .fake-header {
    top: 0;
    height: 80px;
  }

  footer {
    bottom: 0px;
    height: 80px;
  }

  footer ul {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 13px;
  }
  footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 1em;
    padding: 0 0 0.2em 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }
  footer ul li a {
    color: #007ac2;
    text-decoration: none;
  }
  footer ul li:hover,
  footer ul li.current-style {
    border-bottom: 2px solid #007ac2;
    
  }


  html,
  body,
  #view {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
    margin: 0 0 10px 0;
  }
  
  .app-trigger {
    position: absolute;
    z-index: 10;
    right: 65px;
    top: 30px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: block;
  }

  .app-trigger path {
    fill: #6e6e6e;
  }
  .app-trigger:hover path,
  .app-switcher--visible .app-trigger path {
    fill: #0079c1; /*  Calcite Highlight Blue 350  */
  }

  .cover {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .app-switcher {
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 10;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition: opacity 125ms ease-in-out;
    -ms-transition: opacity 125ms ease-in-out;
    -o-transition: opacity 125ms ease-in-out;
    transition: opacity 125ms ease-in-out;
    background-color: #fff;
    opacity: 0;
  }


  .app-switcher--visible .app-switcher {
    opacity: 1;
  }
  .app-switcher--visible .cover {
    display: block;
  }
  .app-switcher__content {
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 5;
  }

  .app-switcher__pointer {
    top: -7px;
    right: 50px;
    background-color: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    pointer-events: none;
    -webkit-transform: scale(0.9, 1) rotate(45deg);
    -moz-transform: scale(0.9, 1) rotate(45deg);
    -ms-transform: scale(0.9, 1) rotate(45deg);
    -o-transform: scale(0.9, 1) rotate(45deg);
    transform: scale(0.9, 1) rotate(45deg);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  
  .apps-container {
    max-width: 505px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  
@media screen and (max-width: 640px) {
  .apps-container {
    max-width: 305px;
  }
}

  .app-module {
    width: 70px;
    margin: 12px 15px;
    display: block;
    float: left;
    color: #6e6e6e;
    font-size: 12px;
    -webkit-transition: all 125ms ease-in-out;
    -moz-transition: all 125ms ease-in-out;
    -ms-transition: all 125ms ease-in-out;
    -o-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out;
  }
  
  .app-module:hover {
    cursor: pointer;
    color: #0079c1; /*  Calcite Highlight Blue 350  */
  }

  /*/////////////////////*/
  /*    HOVER STYLE      */
  .app-icon-container {
    -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
         -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
  }
  .app-module:hover .app-icon-container {
    -webkit-transform: translate(0, -4px);
       -moz-transform: translate(0, -4px);
        -ms-transform: translate(0, -4px);
         -o-transform: translate(0, -4px);
            transform: translate(0, -4px);
  }
  /*    HOVER STYLE      */
  /*//////////////////////*/
  /*.app-module:first-child {
    margin-left: 0;
  }
  
  .app-module:last-child {
    margin-right: 0;
  }*/
  
  .app-icon-container {
    width: 48px;
    height: 48px;
    margin: 0 auto 8px;
    overflow: hidden;
    position: relative;
  }
  .app-icon img {
    width: 100%;
    height: 100%;
  }
  .app-icon-svg {
    width: 48px;
    height: 48px;
    position: relative;
  }
  
  .app-letters {
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    text-align: center;
    top: 31%;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  }
  
  .app-title {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .hexagon {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  
  .see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  
  .see-all__icon {
    font-size: 24px;
    padding: 10px 0 0;
    flex-basis: 46px;
  }
  
  .see-all__text {
    margin-top: auto;
    /*font-size: 12px;*/
  }