// $generate-css: false;
@import "../node_modules/calcite-web/dist/sass/calcite-web";
@import "mixins";
@import "animations";

// Just for prototype
@import "prototypeChucks";

$Calcite_Gray_050: #fff;
$border_color: $Calcite_Gray_300;
$app_header_width: 100%;

$size: 64px;


$generate_css: true !default;

@import "GlobalNav";