// $generate-css: false;
@import '../node_modules/calcite-web/dist/sass/calcite-web';
@import 'mixins';

$Calcite_Gray_050: #fff;
$border_color: $Calcite_Gray_300;

$size: 64px;

body,
html {
  background-color: $Calcite_Gray_100;
}

// Dashboard
.show-item,
.app-header__nav-left {
  display: none;
}

// In Item
.in-item {
  .show-item {
    display: block;
  }
  .app-header__nav-left {
    display: block;
    -webkit-animation: show-item-nav 1000ms ease-out;
    -moz-animation: show-item-nav 1000ms ease-out;
    -o-animation: show-item-nav 1000ms ease-out;
    animation: show-item-nav 1000ms ease-out;
  }
  .show-launch {
    display: none;
  }
  .app-header__app-name {
    width: 0;
    @include translate(0, -100px);
    -webkit-animation: hide-app-name 750ms ease-in;
    -moz-animation: hide-app-name 750ms ease-in;
    -o-animation: hide-app-name 750ms ease-in;
    animation: hide-app-name 750ms ease-in;
  }
}

//////////////////////////////////////////////////
// MIXINS

/////////////////////////
// APP HEADER
@mixin appHeader() {
  height: $size;
  background-color: $Calcite_Gray_050;
  border-bottom: 1px solid $border_color;
  overflow: hidden;
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(flex-start);
  -webkit-transition: border-color 250ms ease-in-out; 
  -moz-transition: border-color 250ms ease-in-out; 
  -ms-transition: border-color 250ms ease-in-out; 
  -o-transition: border-color 250ms ease-in-out; 
  transition: border-color 250ms ease-in-out; 
  a {
    color: $Calcite_Gray_550;
    &:hover {
      text-decoration: none;
    }
    // transition($prop, $time, $ease, $delay:0ms)
    @include transition(all, 125ms, ease-in-out)
  }
  .app-header__menu {
    margin: 0;
    padding: 0;
    height: 100%;
    @include flexDisplay();
    @include alignItems(center);
    li {
      list-style: none;
      margin: 0;
      padding: 0 0.25rem;
    }
  }
}

@mixin appBrand() {
  @include flexDisplay();
  @include alignItems(center);
  &:hover {
    cursor: pointer;
  }
}

@mixin appName() {
  color: $Calcite_Gray_650;
  overflow: hidden;
}

@mixin appIcon() {
  width: $size;
  height: $size;
  // margin-right: 1rem;
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(center);
}

@mixin navLeft() {
  // margin-left: 1rem;
}

@mixin navRight() {
  height: 100%;
  margin-left: auto;
  padding-right: 1rem;
  border-right: 1px solid $border_color;
}

@mixin navRightItem() {
  height: 100%;
}

@mixin navRightLink() {
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(center);
  &:hover {
    @include topNavHover();
  }
}


@mixin appSwitcherTrigger() {
  position: relative;
  height: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(center);
  .app-switcher-path {
    fill: $Calcite_Gray_550;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    @include topNavHover();
    cursor: pointer;
    .app-switcher-path {
      fill: $Calcite_Highlight_Blue_350;
    }
  }
}

@mixin userProfile() {
  height: 100%;
  margin-right: 2rem;
  margin-left: 0.5rem;
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(center);
  &:hover {
    cursor: pointer;
    @include topNavHover();
  }
}

@mixin userProfileImage() {
  height: 32px;
  width: auto;
  border: 2px solid $Calcite_Gray_250;
  -webkit-border-radius: 50px;
  border-radius: 50%;
}

@mixin userProfileId() {
  margin-left: 0.5rem;
  @include flexDisplay();
  @include flexFlow(column);
  .user-profile__name {
    color: $Calcite_Gray_650;
    font-weight: 600;
    line-height: 1rem;
  }
  .user-profile__username {
    color: $Calcite_Gray_550;
    line-height: 1rem;
  }
}

@mixin breadcrumbs() {
  .breadcrumb {
    padding-left: 0;
    a {
      color: $Calcite_Gray_450;
      &:hover {
        color: $Calcite_Gray_650;
      }
      &:after {
        color: $Calcite_Gray_350;
        content: "/";
        padding-left: 0.5rem;
        padding-right: 0.25rem;
      }
    }
  }
  .breadcrumb--current {
    color: $Calcite_Gray_650;
  }
}


/////////////////////////
// App ITEMS

@mixin appItems() {
  @include flexDisplay();
  @include alignItems(center);
  @include justifyContent(center);
  margin-top: 1rem;
  height: 100%;
}

//////////////////////////////////////////////////
// CSS

.app-header {
  @include appHeader();
}

.app-header__app-brand {
  @include appBrand();
}

.app-header__app-name {
  @include appName();
}

.app-header__app-icon {
  @include appIcon();
}

.app-header__nav-left {
  @include navLeft();
}

.app-header__nav-right {
  @include navRight();
}

.nav-right__item {
  @include navRightItem();
}

.nav-right__link {
  @include navRightLink();
}

.app-header__user-profile {
  @include userProfile();
}

.user-profile__button {
  @include userProfileImage();
}

.user-profile__id {
  @include userProfileId();
}

.breadcrumbs {
  @include breadcrumbs();
}

.app-switcher-trigger {
  @include appSwitcherTrigger();
}


.app-items {
  @include appItems();
}

.app-switcher--visible .app-switcher-trigger {
    @include topNavHover();
    .app-switcher-path {
      fill: $Calcite_Highlight_Blue_350;
    }
}



// App Switcher Styles


  
  .app-switcher {
    position: absolute;
    top: 67px;
    // right: 10px;
    z-index: 10;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    opacity: 0;
    -webkit-animation: hide-app-switcher 250ms ease-in-out;
    -moz-animation: hide-app-switcher 250ms ease-in-out;
    -o-animation: hide-app-switcher 250ms ease-in-out;
    animation: hide-app-switcher 250ms ease-in-out;
  }


  .app-switcher--visible .app-switcher,
  .app-switcher--visible .app-switcher__pointer {
    opacity: 1;
    -webkit-animation: show-app-switcher 250ms ease-in-out;
    -moz-animation: show-app-switcher 250ms ease-in-out;
    -o-animation: show-app-switcher 250ms ease-in-out;
    animation: show-app-switcher 250ms ease-in-out;
  }
  .app-switcher--visible .cover {
    display: block;
  }
  .app-switcher__content {
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 5;
  }

  .app-switcher__pointer {
    top: -7px;
    right: 20px;
    background-color: #fff;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    pointer-events: none;
    -webkit-transform: scale(0.9, 1) rotate(45deg);
    -moz-transform: scale(0.9, 1) rotate(45deg);
    -ms-transform: scale(0.9, 1) rotate(45deg);
    -o-transform: scale(0.9, 1) rotate(45deg);
    transform: scale(0.9, 1) rotate(45deg);
    
    -webkit-transition: opacity 125ms ease-in-out;
    -moz-transition: opacity 125ms ease-in-out;
    -ms-transition: opacity 125ms ease-in-out;
    -o-transition: opacity 125ms ease-in-out;
    transition: opacity 125ms ease-in-out;
    
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 0;
    opacity: 0;
  }
  
  .apps-container {
    padding: 0;
    margin: 0;
    width: 505px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    
  }
  .app-icon-svg svg {
    width: 48px;
    height: 48px;
  }
// @media screen and (max-width: 640px) {
//   .apps-container {
//     max-width: 305px;
//   }
// }

  .app-module {
    width: 70px;
    margin: 12px 15px;
    display: block;
    float: left;
    color: #6e6e6e;
    font-size: 12px;
    -webkit-transition: all 125ms ease-in-out;
    -moz-transition: all 125ms ease-in-out;
    -ms-transition: all 125ms ease-in-out;
    -o-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out;
  }
  
  .app-module:hover {
    cursor: pointer;
    color: #0079c1; /*  Calcite Highlight Blue 350  */
  }

  /*/////////////////////*/
  /*    HOVER STYLE      */
  .app-icon-container {
    -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
         -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
  }
  .app-module:hover .app-icon-container,
  .app-module:focus .app-icon-container {
    -webkit-transform: translate(0, -4px);
       -moz-transform: translate(0, -4px);
        -ms-transform: translate(0, -4px);
         -o-transform: translate(0, -4px);
            transform: translate(0, -4px);
  }
  /*    HOVER STYLE      */
  /*//////////////////////*/
  /*.app-module:first-child {
    margin-left: 0;
  }
  
  .app-module:last-child {
    margin-right: 0;
  }*/
  
  .app-icon-container {
    width: 48px;
    height: 48px;
    margin: 0 auto 8px;
    overflow: hidden;
    position: relative;
  }
  .app-icon img {
    width: 100%;
    height: 100%;
  }
  .app-icon-svg {
    width: 48px;
    height: 48px;
    position: relative;
  }
  
  .app-letters {
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
    text-align: center;
    top: 26%;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  }
  
  .app-title {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1.2rem;
  }
  
  .hexagon {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  
  .see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  
  .see-all__icon {
    font-size: 24px;
    padding: 10px 0 0;
    flex-basis: 46px;
  }
  
  .see-all__text {
    margin-top: auto;
    /*font-size: 12px;*/
  }


// Animations
@include keyframes(hide-app-name) {
  0% {
    @include translate(0, 0);
    width: auto;
  }
  50% {
    @include translate(0, 0);
    width: auto;
  }
  90% {
    @include translate(0, -100px);
    width: auto;
  }
  100% {
    @include translate(0, -100px);
    width: 0;
  }
}

@include keyframes(show-item-nav) {
  0% {
    @include translate(0, 100px);
  }
  50% {
    @include translate(0, 100px);
  }
  100% {
    @include translate(0, 0px);
  }
}

@include keyframes(show-app-switcher) {
  0% {
    opacity: 0;
  }
  /* 50% {
    opacity: 0;
  } */
  100% {
    opacity: 1;
  }
}

@include keyframes(hide-app-switcher) {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 1;
  } */
  100% {
    opacity: 0;
  }
}