/*.calcite .esriPopup .contentPane .esriAttributeInspector*/
.calcite .esriAttributeInspector .atiAttachmentEditor {
  padding: 0;
  z-index: 1;
}
.calcite .esriAttributeInspector .atiButtons {
  margin: $marginDefaultSpacer auto;
  padding-top: 5px;
  border-top: 1px solid $borderColorDivider;
}
.calcite .esriAttributeInspector .atiButton.atiDeleteButton .dijitButtonNode {
  margin: auto; /*0px;*/
  width: auto; /* 16px */
  height: auto; /* 16px; */
  background-image: none;
}
