/* we bundle default UI widgets in case users use view.css by itself */
@import url("view-bundled-widgets.css");

.esri-view {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.esri-view .esri-view-root {
  position:  relative;
  border:    none;
  padding:   0px;
  margin:    0px;
  left:      0px;
  top:       0px;
  overflow:  hidden;
  width:     100%;
  height:    100%;
}

.esri-view .esri-view-surface {
  position:  absolute;
  border:    none;
  padding:   0px;
  margin:    0px;
  left:      0px;
  top:       0px;
  overflow:  hidden;
  width:     100%;
  height:    100%;
  
  /*
   * TODO
   * Layers should probably manage this on their own
   */
  direction: ltr;
}

.esri-view .esri-view-surface[data-interacting='true'] {
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.esri-view .esri-display-object,
.esri-view .esri-bitmap {
  position:  absolute;
  border:    none;
  margin:    0px;
  padding:   0px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.esri-view .esri-bitmap {
  transform-origin: top left;
}

.esri-ui {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  pointer-events: none;
}

.esri-ui-corner {
  position: absolute;
  margin: 10px;
}

.esri-ui-top-left {
  top: 0;
  left: 0;
}

.esri-ui-top-right {
  top: 0;
  right: 0;
}

.esri-ui-bottom-left {
  bottom: 0;
  left: 0;
}

.esri-ui-bottom-right {
  bottom: 0;
  right: 0;
}

.esri-component {
  position: relative;
  pointer-events: auto;
  display: inline-block;
  clear: both;
}

.esri-ui-top-right .esri-component,
.esri-ui-top-left .esri-component {
  margin-bottom: 6px;
  vertical-align: top;
}

.esri-ui-bottom-right .esri-component {
  margin-left: 6px;
  vertical-align: bottom;
}
.esri-ui-bottom-left .esri-component {
  margin-right: 6px;
  vertical-align: bottom;
}

.esri-ui-top-left .esri-component {
  float: left;
}

.esri-ui-top-right .esri-component {
  float: right;
}
