$font_weight_title: 400;
$font_weight_header: 600;
$font_weight_normal: 400;
$title_font_size: 16px;
$h1_font_size: 18px;
$h2_font_size: 14px;
$body_font_size: 12px;
$button_font_size: 13px;
$table_font_size: 14px;
$caption_font_size: 10px;