.esri-popup-renderer-title,
.esri-popup-renderer-attachments,
.esri-popup-renderer-edit,
.esri-popup-renderer-media {
  display: none;
}

.esri-popup-renderer-show-title .esri-popup-renderer-title,
.esri-popup-renderer-show-attachments .esri-popup-renderer-attachments,
.esri-popup-renderer-show-edit .esri-popup-renderer-edit,
.esri-popup-renderer-show-media .esri-popup-renderer-media {
  display: block;
}

.esri-popup-renderer-media-title,
.esri-popup-renderer-attachments-title {
  float: left;
  margin: 5px 0;
}

.esri-popup-renderer-attachments ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.esri-popup-renderer-attachments ul li {
  margin: 0;
  padding: 5px 10px 15px 10px;
}

.esri-popup-renderer-attachments ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #6e6e6e;
}

.esri-popup-renderer-attachments ul li a:hover {
  color: #323232;
}

.esri-popup-renderer-media-summary {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  float: right;
}

.esri-popup-renderer-media-summary li {
  float: left;
  margin-right: 10px;
}

.esri-popup-renderer-media-summary li span {
  display: inline-block;
  vertical-align: text-bottom;
}

.esri-popup-renderer-description h1 {
  font-size: 18px;
  font-weight: 600;
}

.esri-popup-renderer-description h2 {
  font-size: 14px;
  font-weight: 600;
}

.esri-popup-renderer-description figure {
  float: left;
  max-width: 40%;
  margin: 0 10px 10px 0;
}

.esri-popup-renderer-description img {
  max-width: 100%;
}

.esri-popup-renderer-description figcaption {
  font-size: 10px;
  font-style: italic;
  padding: 0;
  margin: .2em 0 0;
  display: block;
}

.esri-popup-renderer-description ul {
  margin: 0 0 1.2em 0;
  padding: 0 0 0 1rem;
}

.esri-popup-renderer-description li {
  font-size: 12px;
  list-style-type: square;
  margin: .3em 0;
}

.esri-popup-renderer-description table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.esri-popup-renderer-description table tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.esri-popup-renderer-description table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.esri-popup-renderer-description table tr td,
.esri-popup-renderer-description table tr th {
  padding: 0.4em 10px 0.4em;
  -ms-word-break: break-all;
  word-break: break-all;
  font-size: 12px;
  font-weight: 400;
}

.esri-popup-renderer-description table tr th {
  width: 40%;
  text-align: left;
  border-right: 3px solid #f8f8f8;
}

.esri-popup-renderer-description table tr td {
  width: 60%;
}

.esri-popup-renderer-media,
.esri-popup-renderer-attachments {
  margin: 5px 0;
}

.esri-popup-renderer-media-slider img {
  max-width: 100%;
}

.esri-tab-titles {
  border-bottom: solid 1px #cccccc;
  padding: 0;
  margin: 10px 0;
}

.esri-tab-titles .esri-tab-title {
  display: block;
  float: left;
  list-style: none;
  margin: 0 2px 0 0;
}

.esri-tab-titles .esri-tab-title.esri-active a {
  color: #323232;
  border: solid 1px #cccccc;
  border-bottom-color: transparent;
}

.esri-tab-titles .esri-tab-title a {
  padding: 10px 15px;
  margin: 0 0 -1px 0;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  color: #6e6e6e;
  text-decoration: none;
}

.esri-tab-titles .esri-tab-title a:hover {
  cursor: pointer;
  color: #323232;
}

.esri-popup-renderer-media-summary {
  display: none !important;
}
