@import 'DefaultColors';
////////////////////////////////////////
// Variables
@import 'CommonVariables';
// Variables
////////////////////////////////////////
////////////////////////////////////////
// Mixins
@import 'CommonMixins';
// Mixins
////////////////////////////////////////
////////////////////////////////////////
//  POPUP
.esri-popup {
  color: $text_color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em 0 0.5em 0;
    letter-spacing: 0;
    font-weight: $font_weight_header;
    line-height: 1.3em;
  }
  p {
    font-size: $body_font_size;
    line-height: 1.3em;
    margin: 0 0 1.2em;
  }
  a {
    color: $anchor_color;
    text-decoration: underline;
  }

  //max-height:300px;
  // BODY
  ////////////////////
  /////////////////////////
  //  PAGE MENU
  .esri-page-menu {
    font-size: $body_font_size;
    font-weight: $font_weight_normal;
    color: $btn_color;
    position: absolute;
    width: 100%;
    background-color: $page_menu_bg_color;
    color: $page_menu_color;
    z-index: 50;
    bottom: 40px;
    opacity: 0;
    @include transition('opacity', '125ms', 'ease-out', '0ms');
    @include boxShadow("0 -2px 4px rgba(0, 0, 0, .3)");
    table {
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      border: 0;
      width: 100%;
      tr {
        padding: 0;
        margin: 0;
        border-bottom: solid 1px $page_menu_item_border;
        &.esri-selected {
          background-color: $page_menu_bg_color_selected;
        }
        &:hover {
          cursor: pointer;
          background-color: $page_menu_item_hover;
        }
        td {
          padding: 1em 0;
          line-height: 1.2em;
        }
      }
    }
    .esri-page-menu-num {
      width: 10%;
      text-align: center;
    }
    .esri-page-menu-title {
      width: 90%;
      min-height: 1em;
      margin: 0;
      padding: 1em 4%;
      border-left: solid 1px $page_menu_item_border;
    }
    .esri-page-menu-check-mark {
      margin: 0 4%;
    }
  }
  .esri-page-menu-viewport {
    max-height: 0px;
    opacity: 0;
    overflow: auto;
    position: relative;
    z-index: 10;
    @include transition('max-height', '250ms', 'ease-out', '62ms');
    @include scrollbarY('rgba(255,255,255,0.25)', 'rgba(0,0,0,0.5)')
  }
  .esri-page-menu-header {
    background-color: $page_menu_header_bg;
    color: $page_menu_header_color;
    border-bottom: solid 1px $page_menu_header_border;
    padding: 0;
    line-height: 40px;
    width: 100%;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    @include transition('all', '250ms', 'ease-out', '0ms');
    .esri-page-menu-info {
      font-size: $h2_font_size;
      margin: 0 0 0 15px;
      width: 70%;
      height: 40px;
      line-height: 40px;
      float: left;
    }
    .esri-page-menu-note {
      font-size: $caption_font_size;
      margin: 0 10px 0 15px;
    }
    .esri-page-menu-actions {
      float: right;
      cursor: pointer;
      .esri-popup-icon {
        padding: 12px 15px;
      }
    }
  }
  .esri-popup-icon {
    text-align: center;
    height: 16px;
    line-height: 16px;
  }
  .esri-page-menu-pointer {
    @include pointerStyle();
    @include pointerTransform("1, 0");
    bottom: -6px;
    right: 16px;
    z-index: 0;
    background-color: $page_menu_bg_color;
    @include transition('all', '250ms', 'ease-in', '0ms');
  }
  //  PAGE MENU
  /////////////////////////
  ////////////////////
  // FOOTER
  .esri-footer {
    font-weight: $font_weight_normal;
    color: $btn_color;
    position: relative;
    .esri-pagination {
      float: right;
      margin: 0 8px 0 0;
      display: none;
      .esri-page-text {
        font-size: $button_font_size;
        line-height: 16px;
        height: 16px;
        padding: 12px 3px;
      }
      div {
        float: left;
      }
    }
    p {
      float: left;
      clear: left;
      margin: 0;
      padding: 10px 0;
      margin: 0 10px;
      width: 75%;
    }
  }
  // FOOTER
  ////////////////////
  .esri-menu-open {
    .esri-page-menu {
      opacity: 1;
    }
    .esri-page-menu-header {
      height: 40px;
      opacity: 1;
    }
    .esri-page-menu-viewport {
      max-height: 115px;
      opacity: 1;
    }
    .esri-page-menu-pointer {
      @include pointerTransform('1, 1');
    }
  }
  ////////////////////
  // GENERAL
  .esri-show-title .esri-title {
    display: block;
  }
  .esri-show-content .esri-popup-content {
    display: block;
  }
  .esri-show-pagination .esri-pagination {
    display: block;
  }
  .esri-container {
    position: absolute;
    z-index: 40;
    top: -999em;
    left: -999em;

    -webkit-animation: esri-undock-anim 125ms ease-out;
    -moz-animation: esri-undock-anim 125ms ease-out;
    -o-animation: esri-undock-anim 125ms ease-out;
    animation: esri-undock-anim 125ms ease-out;

  }
  .esri-main {
    position: relative;
    z-index: 2;
    width: 380px;
    height: auto;
  }
  .esri-background {
    background-color: $background_color;
    @include borderRadius(4px);
  }
  .esri-shadow {
    @include boxShadow("0 1px 4px rgba(0,0,0, 0.3)");
    @include borderRadius(4px);
  }
  .esri-actions {
    float: left;
    margin: 0 0 0 7px;
  }
  .esri-action,
  .esri-action .esri-popup-icon {
    display: block;
    float: left;
  }
  .esri-action-text {
    display: block;
    float: left;
    margin: 0 0 0 3px;
    height: 16px;
    line-height: 16px;
  }
  .esri-action-image {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .esri-button {
    padding: 12px 7px;
    height: 16px;
    font-size: $button_font_size;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $btn_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $btn_hover_color;
    }
  }
  .esri-loading-container {
    display: none;
    padding: 12px 0;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .esri-loading .esri-loading-container {
    display: block;
  }
  .esri-pointer {
    @include pointerStyle();
    @include pointerTransform("0.75, 2");
    @include borderRadius(0);
  }
  .esri-invisible .esri-pointer {
    visibility: hidden;
  }
  .esri-dock {
    display: none;
  }
  .esri-show-dock .esri-dock {
    display: block;
  }
  .esri-undock-icon,
  .esri-undock-text {
    display: none;
  }
  .esri-dock-icon,
  .esri-dock-text {
    display: inline-block;
  }
  ///////////////
  // POINTER
  .esri-top .esri-pointer,
  .esri-bottom .esri-pointer,
  .esri-left .esri-pointer,
  .esri-right .esri-pointer {
    @include pointerStyle();
  }
  .esri-top .esri-pointer {
    bottom: 0;
    left: 50%;
    margin: 0 0 -6px -6px;
  }
  .esri-bottom .esri-pointer {
    top: 0;
    left: 50%;
    margin: -6px 0 0 -6px;
  }
  .esri-left .esri-pointer {
    top: 50%;
    right: 0;
    margin: -6px -6px 0 0;
  }
  .esri-right .esri-pointer {
    top: 50%;
    left: 0;
    margin: -6px 0 0 -6px;
  }
  .esri-top,
  .esri-bottom {
    .esri-pointer {
      @include pointerTransform("0.75, 2");
    }
  }
  .esri-left,
  .esri-right {
    .esri-pointer {
      @include pointerTransform("2, 0.75")
    }
  }
  // GENERAL
  ////////////////////

  ///////////////////
  // DOCKED
  .esri-docked {
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    .esri-pointer {
      display: none;
      visibility: hidden;
    }
    // .esri-popup-content {
    //   max-height: none;
    //   @include transition('max-height', '250ms', 'ease-in-out', '350ms');
    // }
    .esri-undock-icon,
    .esri-undock-text {
      display: inline-block;
    }
    .esri-dock-icon,
    .esri-dock-text {
      display: none;
    }

    //////////////////////////////
    //  RENDERER
    // .esri-popup-renderer-media-slider {
    //   height: 130px;
    //   @include scrollbarX('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
    // }
    // .esri-popup-renderer-media-slider-items {
    //   white-space: nowrap;
    // }
  }
  //  DOCKED
  ////////////////////
  .esri-docked-right, .esri-docked-left {
    .esri-popup-content {
      max-height: none;
    }
    ////////////////////////////////////////
    //  RENDERER
    .esri-popup-body {
      .esri-popup-renderer-description {
        max-height: 400px;
        @include transition('max-height', 500ms, 'ease-in-out', 500ms);
        @include scrollbarY('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
      }
    }
    .esri-popup-renderer-media-slider,
    .esri-popup-renderer-attachments {
      position: relative;
      width: 100%;
      height: 150px;
      @include scrollbarY('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
    }
    .esri-popup-renderer-media-slider-items {
      // height: 110px;
      min-width: 100%;
      // white-space: nowrap;
    }
    // .esri-popup-renderer-media {
    //   img {
    //     height: 70px;
    //   }
    // }
    //  RENDERER
    ////////////////////////////////////////
  }
  /////////
  // RIGHT
  .esri-docked-right {
    right: 0;
    top: 0;
    -webkit-animation: esri-dock-right-anim 375ms ease;
    -moz-animation: esri-dock-right-anim 375ms ease;
    -o-animation: esri-dock-right-anim 375ms ease;
    animation: esri-dock-right-anim 375ms ease;

    // .esri-popup-content {
    //   max-height: 480px;
    // }
    .esri-shadow,
    .esri-background {
      @include borderRadius(0 0 0 4px);
    }
  }
  // RIGHT
  /////////
  /////////
  // LEFT
  .esri-docked-left {
    left: 0;
    top: 0;
    -webkit-animation: esri-dock-left-anim 375ms ease;
    -moz-animation: esri-dock-left-anim 375ms ease;
    -o-animation: esri-dock-left-anim 375ms ease;
    animation: esri-dock-left-anim 375ms ease;


    .esri-shadow,
    .esri-background {
      @include borderRadius(0 0 4px 0);
    }
  }
  //  LEFT
  /////////
  /////////
  //  TOP / BOTTOM
  .esri-docked-top,
  .esri-docked-bottom {
    width: auto;
    .esri-main {
      width: 100%;
    }
    .esri-shadow,
    .esri-background {
      @include borderRadius(0);
    }
  }
  .esri-docked-top {
    left: 0;
    top: 0;
    -webkit-animation: esri-dock-top-anim 375ms ease;
    -moz-animation: esri-dock-top-anim 375ms ease;
    -o-animation: esri-dock-top-anim 375ms ease;
    animation: esri-dock-top-anim 375ms ease;
  }
  .esri-docked-bottom {
    left: 0;
    bottom: 0;
    -webkit-animation: esri-dock-bottom-anim 375ms ease;
    -moz-animation: esri-dock-bottom-anim 375ms ease;
    -o-animation: esri-dock-bottom-anim 375ms ease;
    animation: esri-dock-bottom-anim 375ms ease;
  }
  //  TOP / BOTTOM
  /////////
  .esri-top {
    // opacity: 0;
    // -webkit-animation: esri-undock-anim 250ms ease-out;
    // -moz-animation: esri-undock-anim 250ms ease-out;
    // -o-animation: esri-undock-anim 250ms ease-out;
    // animation: esri-undock-anim 250ms ease-out;
    // -webkit-transform-origin: 50% 100%;
    // -moz-transform-origin: 50% 100%;
    // -ms-transform-origin: 50% 100%;
    // -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  .esri-previous-icon-rtl,
  .esri-next-icon-rtl {
    display: none;
  }
  ////////////////////////////////////////
  //  RENDERER
  .esri-popup-renderer-description {
    padding-bottom: 10px;
    line-height: 1.3em;
  }
  .esri-popup-renderer-media-slider-item {
    display: inline-block;
    padding: 0 15px 15px 0;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    img {
      display: inline;
      height: 100px;
      max-width: 100%;
      width: auto;
      padding: 2px;
      border: solid 1px $main_border_color;
      &:hover {
        border-color: $main_border_color_hover;
      }
    }
    figcaption {
      color: $text_color;
      padding:0.2em 0 0 0;
      // display: none;
    }
  }
  // .esri-popup-renderer-media-slider {
  //   position: relative;
  //   width: 100%;
  //   height: 100px;
  //   @include scrollbarX('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
  // }
  // .esri-popup-renderer-media-slider-items {
  //   height: 100px;
  //   min-width: 100%;
  //   white-space: nowrap;
  // }

  // .esri-popup-renderer-media-slider-item {
  //   display: inline-block;
    
  //   padding: 0 15px 0 0;
  //   img {
  //     display: block;
  //     max-height: 70px;
  //     max-width: 100%;
  //     width: auto;
  //   }
  //   figcaption {
  //     color: $text_color;
  //     padding:0.3em 0 0 0;
  //     // display: none;
  //   }
  // }
  // //  RENDERER
  // ////////////////////////////////////////
}

.dj_rtl .esri-popup {
  .esri-page-menu {
    .esri-page-menu-title {
      border-left: none;
      border-right: solid 1px $page_menu_item_border;
    }
  }
  .esri-page-menu-header {
    .esri-page-menu-info {
      margin: 0 15px 0 0;
      float: right;
    }
    .esri-page-menu-actions {
      float: left;
      cursor: pointer;
    }
  }
  .esri-page-menu-pointer {
    right: auto;
    left: 16px;
  }
  .esri-footer {
    .esri-pagination {
      float: left;
      margin: 0 0 0 8px;
      div {
        float: right;
      }
    }
    p {
      float: right;
      clear: right;
    }
  }
  .esri-shadow {
    @include boxShadow("0 -1px 4px rgba(0,0,0, 0.3)");
  }
  .esri-actions {
    float: right;
    margin: 0 7px 0 0;
  }
  .esri-action,
  .esri-action .esri-popup-icon {
    float: right;
  }
  .esri-action-text {
    float: right;
    margin: 0 3px 0 0;
  }
  .esri-previous-icon-rtl,
  .esri-next-icon-rtl {
    display: inline-block;
  }
  .esri-previous-icon-ltr,
  .esri-next-icon-ltr {
    display: none;
  }
}

////////////////////
// HEADER
.esri-popup-header {
  font-size: $body_font_size;
  color: $title_color;
  .esri-title {
    font-size: $title_font_size;
    font-weight: $font_weight_title;
    padding: 12px 0 12px 15px;
    margin: 0;
    width: 70%;
    float: left;
    display: none;
  }
  .esri-popup-header-buttons {
    float: right;
    margin: 0 6px 0 0;
    .esri-button {
      padding: 13px 8px;
      float: left;
    }
  }
}

.dj_rtl .esri-popup-header {
  .esri-title {
    float: right;
    padding: 12px 15px 12px 0;
  }
  .esri-popup-header-buttons {
    float: left;
    margin: 0 0 0 6px;
    .esri-button {
      float: right;
    }
  }
}

.esri-view-width-xsmall .esri-popup .esri-docked-top,
.esri-view-width-xsmall .esri-popup .esri-docked-bottom {
  width: 100%;
}

.esri-view-width-smaller-than-medium .esri-popup .esri-docked-right,
.esri-view-width-smaller-than-medium .esri-popup .esri-docked-left {
  width: 50%;
  .esri-main {
    width:100%;
  }
  .esri-popup-body {
    .esri-popup-content {
      max-height:240px;
    }
  }
}

.esri-view-width-xsmall .esri-popup .esri-dock {
  display: none;
}

// HEADER
////////////////////
////////////////////
// BODY

.esri-popup-body {
  font-size: $body_font_size;
  font-weight: $font_weight_normal;
  padding:0 15px;
  
  .esri-popup-content {
    display: none;
    padding: 0;
    max-height: 100px;
    @include scrollbarY('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
    //@include transition('max-height', '250ms', 'ease-in-out', '350ms');
  }
  // .esri-popup-renderer-description {
  //   max-height: 100px;
  //   @include scrollbarY('rgba(0,0,0,0.125)', 'rgba(0,0,0,0.25)');
    

  // }
}

////////////////////////////////////////
//  ANIMATIONS
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin dockingAnimation($side, $cap, $startX, $startY, $targetX, $targetY) {
  0% {
    #{$side}: #{($startX)}px;
    #{$cap}: #{($startY)}px;
    opacity: 0;
  }
  100% {
    #{$side}: #{($targetX)}px;
    #{$cap}: #{($targetX)}px;
    opacity: 1;
  }
}

@include keyframes(esri-dock-right-anim) {
  @include dockingAnimation('right', 'top', 50, 50, 0, 20);
}

@include keyframes(esri-dock-left-anim) {
  @include dockingAnimation('left', 'top', 50, 50, 0, 20);
}

@include keyframes(esri-dock-top-anim) {
  @include dockingAnimation('left', 'top', 0, 5, 0, 0);
}

@include keyframes(esri-dock-bottom-anim) {
  @include dockingAnimation('left', 'bottom', 0, 5, 0, 0);
}

@include keyframes(esri-undock-anim) {
  0% {
    opacity: 0;
    // -webkit-transform: scale(0.5);
    // -moz-transform: scale(0.5);
    // -ms-transform: scale(0.5);
    // -o-transform: scale(0.5);
    // transform: scale(0.5);
  }
  100% {
    opacity: 1;
    // -webkit-transform: scale(1);
    // -moz-transform: scale(1);
    // -ms-transform: scale(1);
    // -o-transform: scale(1);
    // transform: scale(1);
  }
}
